<h2>Backup</h2>
<p>
    <i class="fa fa-download"></i>
    <a href="#" download="spidernotes.json">Download your notes in JSON format.</a>
</p>

<p>Restore notes from a previous backup.</p>
<p>
    <input name="import_file" type="file" title="Select a file to import" required /><button name="import_notes" class="btn btn-small">Restore</button>
</p>


<hr/>

<p>
    <button type="button" name="delete_data" class="btn btn-danger">Delete your data</button>
</p>

<p>SpiderNotes data on this device will be deleted. Data on other devices will be unaffected.</p>